body {
    font-family: Helvetica, Arial, sans-serif ;
    margin: 0;
    padding: 0;
}

nav ul {
   list-style-type: none;
}

nav li {
    margin: 10px 0;
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
}

section {
    /* background-color: #ffe4c4; */
    padding: 30px 400px ;
    margin: auto;
}

section p {
    line-height: 1.75;
}

#home {
    background-color: #e78293;
}

#about {
    background-color: #f5f5f5;
}

#contact {
    background-color: #3bb4e4;
}

header,
footer {
    background-color: #222;
    color: #f5f5f5;
    padding: 12px 0;
    text-align: center;

}